<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.zm.AttributeMapper">

    <select id="count" resultType="long">
        select count(*) from xx_attribute where 1=1
        <if test="null != name and '' != null">
            and name like '%'+${name}+'%'
        </if>
    </select>

    <select id="querylist" resultType="com.jk.model.Attribute">
        select * from xx_attribute where 1=1
        <if test="null != name and '' != null">
            and name like '%'+${name}+'%'
        </if>
        limit #{s},#{rows}
    </select>

    <select id="queryoption" resultType="string">
        select name from xx_attribute_option where id=#{id}
    </select>
</mapper>