<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.zm.AttributeMapper">

    <select id="count" resultType="long">
        select count(*) from xx_attribute where 1=1
        <if test="null != name and '' != null">
            and name like '%'+${name}+'%'
        </if>
    </select>

    <select id="querylist" resultType="com.jk.model.Attribute">
        SELECT a.id,a.`create_date`,a.`modify_date`,a.`name`,pc.name FROM xx_attribute a LEFT JOIN xx_product_category pc ON a.`product_category`=pc.`id` where 1=1
        <if test="null != name and '' != null">
            and name like '%'+${name}+'%'
        </if>
        limit #{s},#{rows}
    </select>

    <select id="queryoption" resultType="string">
        select options from xx_attribute_option where attribute=#{id}
    </select>
</mapper>